* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #d9d9d9;
}
.frame {
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
}
nav .checkbox {
  position: absolute;
  display: block;
  height: 25px;
  width: 25px;
  top: 15px;
  left: 15px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
nav .menu-items {
  position: absolute;
  top: 58px;
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 1);
  background-color: #fff;
  height: 100vh;
  width: 50%;
  transform: translate(-150%);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}
nav .menu-items li {
  display: block;
  list-style: none;
  margin: 20px 0;
}
nav .menu-items i {
  padding-right: 10px;
}
nav .menu-items li a {
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  font-weight: bold;
}
nav .checkbox:checked ~ .menu-items {
  transform: translate(0);
}
nav img {
  width: 25px;
  height: 25px;
}
nav .shopping-cart {
  background-color: #fff;
  border: none;
}
.news {
  display: none;
}
.banner {
  padding: 64px 10px 15px;
  position: relative;
  z-index: 1;
}
.banner img {
  width: 100%;
}
.banner-info ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.banner-info ul li {
  font-weight: bold;
  text-align: center;
  list-style: none;
  width: calc(33.33% - 0.5px);
  height: 45px;
  border: 1px solid #e9e9e9;
  background-color: white;
}
.banner-info a {
  text-decoration: none;
  color: #333333;
  font-size: 12px;
}
.nav-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #4eac4b;
}
.nav-line span {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.new-products,
.hot-products {
  margin: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  padding: 15px 0;
}
.asus-products {
  margin: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  padding: 15px 0;
}
.acer-products {
  margin: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  padding: 15px 0;
}
.HP-products {
  margin: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  padding: 15px 0;
}
.LG-products {
  margin: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  padding: 15px 0;
}
.MSI-products {
  margin: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  padding: 15px 0;
}
.new-products li:hover,
.hot-products li:hover,
.acer-products li:hover,
.asus-products li:hover,
.HP-products li:hover,
.LG-products li:hover,
.MSI-products li:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.new-product {
  width: calc(50% - 4px);
  height: 250px;
  border-radius: 5px;
  padding: 15px;
  background-color: #fff;
  margin: 2px;
  list-style: none;
}
.new-product a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
}
.new-product img {
  width: 100%;
  height: 135px;
  object-fit: contain;
}
.product {
  width: calc(50% - 4px);
  height: 250px;
  border-radius: 5px;
  padding: 15px;
  background-color: #fff;
  margin: 2px;
  list-style: none;
}
.product a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  padding-bottom: 10px;
}
.product img {
  width: 100%;
  height: 135px;
  object-fit: contain;
}
.product-info {
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-info h3 {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.5em;
  max-height: 3em;
}
.product-info p {
  font-weight: bold;
  font-size: 15px;
  color: #e40000;
  margin: 0;
  width: 100%;
  text-align: center;
}
.product-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}
.product-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-images img {
  width: 80%;
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
}
.thumbnail-images {
  display: flex;
  justify-content: center;
}
.thumbnail-images img {
  width: 80px;
  height: auto;
  margin-right: 20px;
}
.fullscreen-image-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
  z-index: 10000;
}
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  z-index: 10001;
}
.product-details {
  flex: 1;
  padding-top: 5px;
  margin-left: 20px;
}
.breadcrumbs a {
  color: gray;
  text-decoration: none;
  transition: color 0.3s ease;
}
.breadcrumbs a:hover {
  color: black;
}
.product-title {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.product-price {
  font-weight: bold;
  font-size: 24px;
  color: #f00;
  margin-bottom: 15px;
}
.product-specifications {
  margin-bottom: 20px;
  line-height: 1.5;
}
.buttons button {
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
.add-to-cart {
  background-color: #007bff;
  font-weight: bold;
}
.checkout {
  background-color: #28a745;
  font-weight: bold;
}
.add-to-cart:hover {
  background-color: #0056b3;
}
.checkout:hover {
  background-color: #3fbf3f;
}
.cart-icon,
.payment-icon {
  color: white;
}
.popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}
.popup {
  text-align: center;
}
.close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #000;
}
.popup-title {
  font-size: 20px;
  margin-bottom: 10px;
}
.popup-content {
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
}
.confirm-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.confirm-btn:hover {
  background-color: #0056b3;
}
.nav-line-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #4eac4b;
}
.nav-line-1 span {
  background-color: #4eac4b;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  height: 100%;
  padding: 5px 14px;
}
.nav-line-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #4eac4b;
}
.nav-line-2 span {
  background-color: #4eac4b;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  height: 100%;
  padding: 5px 14px;
}
.nav-line-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #4eac4b;
  margin-left: 20px;
  width: calc(100% - 40px);
}
.nav-line-3 span {
  background-color: #4eac4b;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  height: 100%;
  padding: 5px 14px;
}
.product-description {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 20px 20px 20px;
  max-width: 100%;
  box-sizing: border-box;
}
.product-description ul {
  list-style: none;
  padding-left: 0;
}
.product-description li {
  position: relative;
  padding-bottom: 8px;
  line-height: 1.6;
}
.product-description li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.ratings-section {
  margin: 20px 20px 20px 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}
.rating-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.rating-label {
  flex: 0 0 30px;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
}
.rating-meter {
  flex: 1;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}
.rating-meter-fill {
  height: 100%;
  background-color: #4eac4b;
}
.rating-count {
  flex: 0 0 100px;
  text-align: right;
}
.rating-form {
  margin: 20px 20px 20px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
}
.review-heading {
  text-align: center;
  margin-bottom: 20px;
}
.rating-stars {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.rating-stars input[type="radio"] {
  display: none;
}
.rating-stars label {
  font-size: 30px;
  color: #ccc;
  cursor: pointer;
  margin: 0 5px;
}
.rating-stars label:hover,
.rating-stars label:hover ~ label {
  color: #fddb3a;
}
.rating-stars input[type="radio"]:checked ~ label {
  color: #fddb3a;
}
textarea,
input[type="text"],
input[type="email"],
.submit-review-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.submit-review-button {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.submit-review-button:hover {
  background-color: #0056b3;
}
footer {
  background-color: #333333;
  padding: 20px;
}
.info div {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-bottom: 10px;
}
.info i {
  margin-right: 10px;
}
.info-text {
  display: inline-block;
  vertical-align: middle;
}
.info h4,
.policy h4 {
  margin-bottom: 10px;
}
.info,
.policy,
.fanpage {
  font-size: 22px;
  color: #fff;
}
.info div,
.policy div {
  color: white !important;
  font-size: 16px;
  margin: 0px 0px 15px 0px;
  padding: 6px 0px;
}
.policy div {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.ads img {
  width: 100%;
  height: 135px;
}
.img-ads {
  display: block;
  width: 300px !important;
  height: auto !important;
  margin: 0 auto 15px auto;
}

/* Import Google font - Poppins */
.container {
  display: block;
  margin: 80px auto 15px auto;
  max-width: 430px;
  width: 100%;
  height: 70vh;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.container .registration {
  display: none;
}
#check {
  display: none;
}
.container .form {
  padding: 2rem;
}
.form header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
.form input {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}
.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.form a {
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}
.form a:hover {
  text-decoration: underline;
}
.form input.button {
  color: #fff;
  background: #009579;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover {
  background: #006653;
}
.signup {
  font-size: 17px;
  text-align: center;
}
.signup label {
  color: #009579;
  cursor: pointer;
}
.signup label:hover {
  text-decoration: underline;
}
.login-success {
  text-align: center;
  padding: 40px 0;
  display: none;
}
.login-success h1 {
  color: #88b04b;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 10px;
}
.login-success p {
  color: #404f5e;
  font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin: 0;
}
.login-success .card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  display: inline-block;
  margin: 0 auto;
}
.success-animation {
  margin: 150px auto;
}

.checkmark {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb71b;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4bb71b;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
  margin: 0 auto;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4bb71b;
  fill: #fff;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4bb71b;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  body {
    background-color: #f0f0f0;
    font-size: 16px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
  }
  nav img {
    width: 35px;
    height: 35px;
  }
  .logo a {
    text-decoration: none;
    color: black;
  }
  .thumbnail-images {
    display: flex;
    justify-content: space-between;
  }
  .thumbnail-images img {
    max-width: calc(22% - 6px);
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .new-product {
    width: calc(25% - 4px);
    height: 300px;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
    margin: 2px;
    list-style: none;
  }
  .new-product a {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-details {
    width: 100%;
    margin-top: 20px;
  }
  .buttons {
    margin-top: 10px;
  }
  .add-to-cart,
  .checkout {
    margin-bottom: 10px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: #f0f0f0;
    font-size: 16px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
  }
  nav img {
    width: 35px;
    height: 35px;
  }
  .logo a {
    text-decoration: none;
    color: black;
  }
  .new-product {
    width: calc(25% - 4px);
    height: 300px;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
    margin: 2px;
    list-style: none;
  }
  .new-product a {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .buttons {
    margin-top: 10px;
  }
  .add-to-cart,
  .checkout {
    margin-bottom: 10px;
  }
}

/* Desktop */
@media screen and (min-width: 1024px) {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 100vw;
  }
  nav .menu-items {
    position: static;
    transform: translate(0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #4eac4b;
    box-shadow: none;
    width: 100%;
    height: auto;
  }
  nav .menu-items li {
    list-style: none;
    border-right: 1px solid #fff;
    padding: 10px 15px;
    margin: 0;
  }
  nav .menu-items li a {
    color: #fff;
  }
  nav input,
  nav img,
  nav button,
  nav .logo {
    display: none;
  }
  .banner {
    display: flex;
    padding-top: 64px;
  }
  .banner-info {
    position: relative;
    z-index: 1;
  }
  .banner-info img {
    display: none;
  }
  .banner-info img:first-child {
    display: block;
  }
  .banner-info {
    max-width: 66.66%;
    padding: 0 15px;
  }
  .banner-info ul {
    padding: 0;
  }
  .banner-info a {
    margin: 8px;
  }
  .banner .news {
    display: block;
    max-width: 33.33%;
    padding: 0 0 8px 0;
  }
  .news ul {
    background-color: #fff;
    margin-top: 8px;
  }
  .news li {
    list-style: none;
    padding: 7px 10px;
  }
  .news li:hover {
    background-color: #f0f0f0;
  }
  .banner a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    font-size: 13px;
  }
  .banner a p {
    padding-left: 10px;
    color: #333333;
  }
  .banner a img {
    width: 100px;
    height: auto;
  }
  .ads {
    display: flex;
  }
  .img-ads {
    max-width: 33.33%;
    padding: 0 0 8px 0;
    object-fit: contain;
  }
  .ads img {
    width: 100%;
    height: 200px;
  }
  .new-product {
    width: calc(25% - 4px);
    height: 100%;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
    margin: 2px;
    list-style: none;
  }
  .new-products {
    min-height: 350px;
    align-items: flex-start;
  }
  .product {
    width: calc(20% - 4px);
  }
  .acer-products {
    justify-content: flex-start;
  }
  .nav-line {
    width: auto;
    margin-right: 15px;
  }
  footer {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
  }
  .fanpage {
    display: flex;
    flex-direction: column;
  }
  .logo-desktop {
    display: block;
    font-size: 60px;
    padding-right: 50px !important;
    color: white;
  }
}
